<nav class="app-navbar" id="app-navbar" role="navigation">
    <div class="app-navbar-header">
        <div class="app-navbar-header-title">
            <a class="app-navbar-brand" href="/">Navigation</a>
        </div>
        <div class="app-navbar-header-toggle">
            <button type="button" class="app-navbar-toggle navbar-toggler hidden-md-up" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                &#9776;
            </button>
        </div>
    </div>

    <div class="app-navbar-collapse collapse navbar-toggleable-sm" id="app-navbar-collapse">
        <ul class="app-navbar-nav" id="app-navbar-nav">
            <li class="app-navitem active">
                <a class="app-navitem-tab app-navitem-tab-home" href="{{ page.base_url }}startseite">
                    <span>Startseite</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab" href="{{ page.base_url }}section-1">
                    <span>Section 1</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab" href="{{ page.base_url }}gesundheut">
                    <span>Section 2</span>
                </a>
            </li>
            <li class="app-navitem active">
                <a class="app-navitem-tab" href="{{ page.base_url }}bildung">
                    <span>Section 3</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab" href="{{ page.base_url }}pflege">
                    <span>Section 4 - this is very long</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab" href="{{ page.base_url }}gastfreundschaft">
                    <span>Section 5</span>
                </a>
            </li>
            <li class="app-navitem">
                <a class="app-navitem-tab" href="{{ page.base_url }}spiritualitaet">
                    <span>Section 6</span>
                </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
