//
// Navigation Card Styles
// ------------------------------------------------------


.app-nav-tree {
    padding: 1rem;
    border: 1px solid $gray-400;
}


.app-nav__list {
    padding-left: 0;
    list-style: none;
    &--level-1,
    &--level-2 {
        margin-left: .5rem;
    }
}

.app-nav-tree-list {
    padding-left: 0;
    list-style: none;
    li {
        width: 100%;
    }
}

.app-nav__list-item {
    margin-left: 0;
    padding: .5rem .25rem;
    &:not(last) {
        margin-bottom: .25rem;
        border-bottom: 1px solid $app-gray;
    }
    &:last-of-type {
        border-bottom: 0px;
    }
}

.app-nav__list-link {
    color: $app-primary;
    &:hover {
        color: darken($app-primary, 10%);
    }
    &.navTreeCurrentNode {
        color: $app-gray;
    }
}

.app-nav__list-link--open {
    color: $app-primary;
}

.app-nav__list-link--active {
    color: $app-primary;
}

.app-nav__list--level-0 {
    margin-bottom: 0;
}

.app-nav__list--level-1 {
    margin-left: 0;
}


.app-nav__list--level-2 {
}
